@font-face {
    font-family: "Play";
    src: url('../fonts/Playlist\ Script.otf');
}
@font-face {
    font-family: "Balsam";
    src: url('../fonts/Balsam.ttf');
}
body{
    background-image: repeating-linear-gradient(90deg, rgba(162,159,159, 0.06) 0px, rgba(162,159,159, 0.06) 1px,transparent 1px, transparent 96px),repeating-linear-gradient(0deg, rgba(162,159,159, 0.06) 0px, rgba(162,159,159, 0.06) 1px,transparent 1px, transparent 96px),repeating-linear-gradient(0deg, rgba(146,146,146, 0.09) 0px, rgba(146,146,146, 0.09) 1px,transparent 1px, transparent 12px),repeating-linear-gradient(90deg, rgba(146,146,146, 0.09) 0px, rgba(146,146,146, 0.09) 1px,transparent 1px, transparent 12px),linear-gradient(90deg, rgb(255,255,255),rgb(255,255,255));
    font-family: Balsam, Arial, Helvetica, sans-serif;
}
.kotak{
    width: 100%;
    height: fit-content;
    font-size:5em;
    padding:2% 2% 3% 2%;
    position:fixed;
    background-color: black;
    color:white;
    font-family:"Play", 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.kotak p{
    font-size: 0.4em;
    font-family: Balsam, Arial, Helvetica, sans-serif;
    z-index: 20;
}
#teams .row .col .card .card-image{
    height:30%;
}
#teams .row .col .card .card-image img{
    height:100%;
    object-fit: contain;
}
#teams .row .col .card .card-content{
    color:white;
    padding-top: 12px;
    height:240px;
    overflow-x: auto;
}
#matches .row .col .card .card-content{
    height:180px;
    padding-bottom:0px;
    margin-bottom: 0;
    color:black;
    display:flex;
    flex-direction:column;
    overflow-x: auto;
}
.judul{
    font-family:"Play", 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
}
.collapsible{
    margin-right:0;
    margin-bottom: 0;
}
.container{
    width:80%;
}
.loader {
    display: inline-block;
    width: 230px;
    height: 230px;
    animation: loader 6s infinite ease;
    margin-bottom: 20px;
    content: url('../img/bola.png');
}
nav{
    top:0;
    position:sticky;
    z-index: 999;
}
nav.stroke ul li a:after {
    position: absolute;
    top:50px;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0;
    width: 0%;
    content: '.';
    color: transparent;
    background:  #039BE5;;
    height: 1px;
}
nav ul li a,
nav ul li a:after,
nav ul li a:before {
    transition: all .5s;
}
nav ul li a:hover, h4, #saveMatch{
    color: #039BE5;
}
nav.stroke ul li a:hover:after {
    width: 100%;
}
.loader img{
    width: 100%;
}
#teams{
    width: 100%;
}
table.highlight{
    margin: 0;
    padding: 0;
}
a{
    cursor:pointer;
}
table.highlight td{
    padding:auto;
    padding-top:0;
    margin:auto;
}
.collapsible-body{
    padding:0;
}
#loading{
    display:block;
    margin: 0 auto;
    text-align: center;
    width: fit-content;
}
img.logoClub{
    max-height:25px;
    object-fit: contain;
}
::-webkit-scrollbar{
    width: 12px;
    transition: 5s;
}
::-webkit-scrollbar-thumb{
    background: linear-gradient(transparent, black);
    border-radius: 6px;
}
::-webkit-scrollbar-thumb:hover{
    background: linear-gradient(transparent, #039BE5);
}
@keyframes loader {
    0% {
      transform: rotate(0deg);
    }
    
    25% {
      transform: rotate(70deg);
    }
    
    50% {
      transform: rotate(150deg);
    }
    
    75% {
      transform: rotate(280deg);
    }
    
    100% {
      transform: rotate(360deg);
    }
}
@media screen and (max-width: 900px){
    .kotak{
        font-size: 4.5em;
    }
}
@media screen and (max-width: 600px){
    .kotak{
        font-size: 4em;
    }
}